
<nav class="navbar navbar-inverse" role="navigation" style="border-radius:0px">
    <a class="navbar-brand" href="#">{{heading}}</a>
</nav>


<div class="col-sm-offset-1 col-sm-4">
    <form class="form-horizontal" role="form" novalidate>
        <h1 data-ng-show="!edit"> Create New Note </h1>
        <h1 data-ng-show="edit"> Edit Note </h1>
        <div class="form-group">
            <input type="text" name="title" class="form-control" required="required" data-ng-model="titleInput" placeholder="Title">
        </div>

        <div class="form-group">
            <textarea name="note" class="form-control" rows="10" required="required" data-ng-model="noteInput" placeholder="Note"></textarea>

        </div>
        <input type="hidden" data-ng-model="id"/>
        <div class="form-group">
            <button type="submit" class="btn btn-success" data-ng-click="save()" data-ng-show="!edit">Create</button>
            <button type="submit" class="btn btn-primary" data-ng-click="update()" data-ng-show="edit">Update</button>
            <button type="submit" class="btn btn-warning" data-ng-click="back()" data-ng-show="edit">Cancel</button>
        </div>
    </form>
</div>
<br>
<br>
<div class="col-sm-offset-1 col-sm-5" style="height: 85vh;overflow:scroll;overflow-x: hidden; overflow-y:auto">
   <div class="well" ng-repeat="note in notes" style="word-wrap: break-word;">
       <h3>{{note.title}}</h3>
       <p>{{note.text}}</p>
   
   <button type="button" class="btn btn-primary" data-ng-click="updateForm($index)">Update</button>
   
   <button type="button" class="btn btn-danger" data-ng-click="delete($index)">Delete</button>
   
   </div>
</div>