<!DOCTYPE html>
<html lang=""  data-ng-app="noteApp" data-ng-controller="noteCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{appTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/factory.js"></script>
    <script type="text/javascript" src="/js/controller.js"></script>
</head>

<body>
    <ui-view></ui-view>
</body>

</html>